.channel-container {
  width: calc(100% - 300px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .channel-header {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid lightgray;
  }

  .add-member-button {
    cursor: pointer;
  }

  .message-container {
    .message-list {
      height: calc(100vh - calc(56px + 100px + 3rem + 32px));
      width: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .loading {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          height: 50px;
          animation: spin 0.5s linear infinite;
        }
      }

      .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 35px;
        width: 100%;
      }
    }
    .message-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0 22px 0;

      .message-input {
        resize: none;
        width: 100%;
        height: 100px;
        max-width: 95%;
        border-radius: 5px;
        padding: 10px;
        outline: none;

        &:focus::placeholder {
          color: transparent;
        }
      }

      .submit {
        position: absolute;
        top: calc(100vh - 40px);
        left: 96.5%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background-color: transparent;
        border: none;
        font-size: 20px;
      }
    }
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
