.channel-container {
  width: calc(100% - 250px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .channel-header {
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid lightgray;
  }

  .message-container {
    .message-list {
      height: 540px;
      width: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      // justify-content: flex-end;
      align-items: center;
      .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 50px;
        width: 100%;
        // height: 80px;
      }
    }
    .message-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;

      .message-input {
        width: 100%;
        height: 80px;
        max-width: 95%;
      }

      .submit {
        width: 80px;
        height: 25px;
      }
    }
  }
}
