.channel-container {
  width: calc(100% - 300px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .channel-header {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid lightgray;

    .channel-title {
      display: flex;
      align-items: center;
      .image {
        height: 30px;
        width: 30px;
        margin-right: 10px;
      }
    }
  }

  .add-member-button {
    cursor: pointer;
  }

  .message-container {
    .message-list {
      height: calc(100vh - calc(56px + 100px + 3rem + 32px));
      width: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .message-preview {
        margin-top: calc(100vh - 320px);
        font-size: 32px;
      }

      .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 35px;
        width: 100%;

        .sender {
          display: flex;
          align-items: center;
          .image {
            height: 35px;
            width: 35px;
            margin-right: 10px;
            border: 1px solid gray;
            border-radius: 10px;
            padding: 2px;
            // background-color: red;
          }
          .sender-details {
            .name {
              font-weight: 600;
              // color: purple;
            }
          }
        }
      }
    }
    .message-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0 22px 0;

      .message-input {
        resize: none;
        width: 100%;
        height: 100px;
        max-width: 95%;
        border-radius: 5px;
        padding: 10px;
        outline: none;

        &:focus::placeholder {
          color: transparent;
        }
      }

      .submit {
        position: absolute;
        top: calc(100vh - 40px);
        left: 96.5%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
