.sidebar-container {
  // padding: 10px;
  width: 300px;
  height: calc(100vh - 3rem);
  background-color: #3F0F3F;

  .channel-title-container {
    width: 100%;
    border-bottom: solid 1px #611f69;
    padding: 15px 5px ;
    h3 {
      margin-left: 10px;
      color: white;
    }
  }

  .dropdown-container {
    margin: 25px;

    .dropdown-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;

      .title {
        span {
          margin-left: 15px;
        }

        span,
        i {
          color: white;
          cursor: pointer;
        }
      }
      
      i {
        cursor: pointer;
        color: white;
      }
    }

    .dropdown-item-list {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      overflow-y: auto;
      height: auto;
      max-height: 200px;

      .list-item {
        margin: 5px;
        text-decoration: none;
        color: white;
      }
    }
  }
}
